.fixit
  background: #fafafa;
  border: 1px solid rgba(black, 0.05);
  color: color_oil;
  font-weight: bold;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 3px;
  margin-bottom: 40px;
  float: right;
  
  &:hover
    background-color: #fefefe;
  
  a 
    color: currentColor;