@import '../../node_modules/auth0-styleguide/lib/vars'
@import '../../node_modules/auth0-styleguide/lib/mixins'
@import '../../node_modules/auth0-tutorial-navigator/css/tutorial-navigator'

color_text_gray = rgba(0,0,0,.86);
color_node_js = #a9d353;
color_asp= #4ea5c7;
color_aspnet_owin= #4e79c7;
color_azure= #684ec7;
color_servicestack= #a84ec7;
color_php= #cf5191;
color_rails= #e35e59;
color_ios= #e39359;
color_android= #e3ae59;
color_windowsphone= #e3ca59;
color_xamarin= #dfe158;
color_win8= #4ec75c;
color_win8_cs= #f00;

// Components
@import 'inc/custom-select'
@import 'inc/carousel'
@import 'inc/navigation-bar'
@import 'inc/search-control'
@import 'inc/search-results'
@import 'inc/chevron'
@import 'inc/animations'
@import 'inc/highlight'
@import 'inc/howto'
@import 'inc/fixit'
@import 'inc/browser'
@import 'inc/package'
@import 'inc/quickstart'
@import 'inc/architecture-scenarios'
@import 'inc/architecture-scenarios-cards'

// Views
@import 'homepage'
@import 'api-info'

header.site-header.site-header
  background-color: #F3F3F3;
  border-bottom: 1px solid rgba(0,0,0, 0.05);

  a.login
    border-color: rgba(0,0,0, 0.05);

    &:hover
      background: rgba(0,0,0, 0.03);

.panel-body
    padding: 0 15px 15px 15px;

    li
      margin: 0;

.edit-fiddle
  background: url("https://cdn.auth0.com/img/codepen-Black-Large.png") no-repeat scroll;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
  height: 35px;
  width: 106px;
  background-size: cover;
  border: none;

a:focus,
a {
  text-decoration: none;
}

.btn-package {
  white-space: normal;
  margin-bottom: 0px;
}


h2,h3,h4,h5,h6
  &.anchor-heading
    position: relative;
    cursor: pointer;

    &:hover  .anchor
      visibility: visible;

.anchor
  position: absolute;
  top: 0;
  left: -25px;
  visibility:hidden;

div.package span:first-child {
  display: block;
}

div.package span {
  color: white;
}

div.package a.btn-package {
  line-height: 20px;
}

div.package span.smaller {
  font-size: 10px;
}

body
  min-width: 320px;

&.wpf-winforms-tutorial i
  border-color: #ffc0cb;

.sub-navbar
  background: #5d676f;
  border-radius: 3px;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 12px;
  color: #fff;
  min-height: 44px;

  .navbar-text
    color: white;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    margin: 6px 15px;
    line-height: 32px;

  .dropdown
    display: inline-block;
    height: 100%;
    margin: 0px;
    padding-left: 0px;
    .caret
      position: absolute;
      right: 20px;
      top: 20px;
    .btn.dropdown-toggle
      color: #fff;
      min-width: 226px;
      line-height: 32px;
      font-size: 12px;
      background: none;
      border: 0;
      border-radius: 0;
      border-right: 1px solid #ccc;
      text-transform: none;
      background: linear-gradient(180deg, transparent 30%, rgba(0,0,0,0.8) 100%);
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      letter-spacing: 0.5px;
      position: relative;
      text-align: left;
      padding-left: 20px;
      padding-right: 40px;
      letter-spacing: 0.5px;
      display: inline-block;
      height: 100%;
      &:focus, &:active
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      &:hover
        -webkit-background: linear-gradient(180deg, transparent 0%, rgba(0,0,0,0.8) 100%);
        -o-background: linear-gradient(180deg, transparent 0%, rgba(0,0,0,0.8) 100%);
        background: linear-gradient(180deg, transparent 0%, rgba(0,0,0,0.8) 100%);

    .dropdown-menu
      min-width: 226px;

  .navbar-form
    margin: 5px 10px;
    padding: 0;
    &:last-child
      margin: 5px 10px;
    input
      min-width: 180px;
    input, button
      -webkit-box-shadow: none;
      box-shadow: none;
      &:focus, &:active
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

    .btn
      font-size: 14px;
      padding-left: 10px;
      padding-right: 10px;
      i
        font-size: 14px;
        line-height: 14px;
        display: inline-block;
        vertical-align: middle;

.page-docs

  #tutorial-navigator .step.select-app-type
    padding: 20px 4px;
    .app-type .app-type-item strong.label
      padding: 0;


  .installers {
    width: 550px;
    margin-bottom: 20px;
    display: table;
    padding: 10px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }

  .installers ul {
    width: auto;
    text-align: center;
    margin: 0 auto;
    display: table-row;
  }

  .installers ul img {
    display: block;
    margin: 0 auto;
  }

  .installers ul a {
    display: block;
    width: 100%;
    text-decoration: none;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .installers ul a:hover,
  .installers ul a:active {
    background: #e1e1e8;
    color: #005580;
  }

  .installers ul li {
    width: 33%;
    display: table-cell;
  }

  .installers a small {
    font-size: 10px;
    display: block;
    color: #888;
  }

  .btn-mid {
    font-size: 14px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .edit-fiddle {
    background: url("https://cdn.auth0.com/img/codepen-Black-Large.png") no-repeat scroll;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    height: 35px;
    width: 106px;
    background-size: cover;
    border: none;
  }

  .edit-fiddle:hover {
    color: #005580;
    text-decoration: underline;
  }

  a.anchor
    margin-left: -24px;
    visibility: hidden;
    text-decoration: none;
    position: relative;

    i
      font-size: 14px;
      width: 24px;
      display: inline-block

      &:hover
        visibility

  h2:hover a.anchor{
    visibility: visible;
  }
  h3:hover a.anchor{
    visibility: visible;
  }
  h4:hover a.anchor{
    visibility: visible;
  }


  .widget-tut .snippet-header {
    background-color: #8A8A8A;
    padding: 7px;
    color: white;
    border-radius: 2px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-top: 5px;
  }

  .widget-tut pre {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  #widget-chooser {
    width: 400px;
  }


  h1, h2,h3,h4,h5
    margin-top: 20px;
    margin-bottom: 20px;
    i
      display: none

  h1
    margin-top: 0;

  p,li
    color: #4d4d4d;

  pre
    border: 0;
    padding: 20px;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 20px;
    word-wrap: normal;

    code
      white-space: pre;

    &::-webkit-scrollbar
      width: 12px;

    &::-webkit-scrollbar-track
      background: black;
      background: rgba(0,0,0, 0.2);

    &::-webkit-scrollbar-thumb
      background: white;
      background: rgba(255,255,255, 0.5);

  .sidebar-docs
    ul
      margin: 0;
      padding: 0;
      max-width: 230px;
      list-style: none;
      li.box
        border: 1px solid #eee;
        border-radius: 3px;
        margin-top: 0px;
        margin-bottom: 20px;
        padding: 14px 20px;
        strong
          text-transform: uppercase
          font-weight: bold;
          font-size: 12px;
          margin-bottom: 6px;
          display: block
          letter-spacing: 1px;
          color: #999;
        a
          color: #666;

          &:hover
            color: black;

        &.box-terminal, &.box-mobile-phone, &.box-html5, &.box-laptop
          background: #f9f9f9;
          border-color: transparent;

        &.box-terminal, &.box-mobile-phone
          margin-bottom: 0;
          padding-bottom: 0;

        &.box-mobile-phone
          border-radius: 0;

        &.box-html5
          border-radius: 0;
          border-bottom-right-radius: 3px;
          border-bottom-left-radius: 3px;

    ul
      li
        line-height: 28px;

        i:before
          content: "\e16f";
          font-family: "budicon-font" !important;
          speak: none;
        i
          width: 10px;
          height: 10px;
          display: inline-block
          font-family: "budicon-font" !important;
          font-style: normal !important;
          font-weight: normal !important;
          font-variant: normal !important;
          text-transform: none !important;
          speak: none;
          line-height: 1;
          margin-right: 8px;
          position: relative;
          top: 2px;
          height: 14px;
          // background: red;

        &.selected
          a
            color: black !important;
            // font-weight: bold;



    li.box-laptop:before
      text-transform: uppercase
      font-weight: bold;
      font-size: 12px;
      margin-bottom: 6px;
      display: block
      letter-spacing: 1px;
      color: #333

    li.box-laptop, li.box-mobile-phone

      ul
        li
          i
            border: 2px solid #666;
            height: 10px;
            border-radius: 100px;
            position: relative
            position: static;
            &:before
              content: none;


          &.nodejs-tutorial i
            border-color: #a9d353;

          &.aspnet-tutorial i
            border-color: #4ea5c7;

          &.aspnet-owin-tutorial i
            border-color: #4e79c7;

          &.azure-tutorial i
            border-color: #684ec7;

          &.servicestack-tutorial i
            border-color: #a84ec7;

          &.php-tutorial i
            border-color: #cf5191;

          &.rails-tutorial i
            border-color: #e35e59;

          &.ios-tutorial i
            border-color: #e39359;


          &.android-tutorial i
            border-color: #e3ae59;


          &.windowsphone-tutorial i
            border-color: #e3ca59;


          &.xamarin-tutorial i
            border-color: #dfe158;


          &.win8-tutorial i
            border-color: #4ec75c;


          &.win8-cs-tutorial i
            border-color: #f00;


          &.wpf-winforms-tutorial i
            border-color: #ffc0cb;



    li.box-mobile-phone
      ul
        li
          i
            border-radius: 0;



  section.content
    h1
      margin-top: 0;
      font-weight: 100;

    li, p
      line-height: 26px;
      font-size: 15px;

    p
      margin-bottom: 20px;

    ul, ol
      padding: 0;
      padding-left: 18px;
      margin: 0;
      margin-bottom: 20px;

    blockquote
      background: lighten(color_blue_light, 90%);
      border: 0;
      text-align: center
      color: white;
      padding: 30px 40px;
      margin-bottom: 20px;

      p
        line-height: 30px;
        color: color_blue
        margin: 0;

      &.warning
        background: blue;

        p
          color: white;
          font-weight: bold;
        a
          color: white;
          text-decoration: underline;


    img
      max-width: 100%;
      display: block;
      margin: auto;

  .getting-started-logos
    margin-bottom: 30px;
    margin-top: 30px;
    overflow: hidden

  .logo-tutorial
    background-color: #f1f1f1;
    text-align: center
    border-radius: 3px;
    display: block
    padding: 10px;
    strong
      background-color: white;
      display: block
      padding: 10px 0;
      border-radius: 3px;
      img
        height: 45px;
        max-width: 100%;


    span
      text-transform: uppercase
      font-weight: bold
      display: block
      margin-top: 6px;
      font-size: 11px;
      letter-spacing: 1px;
      color: #333;

  .fixit
    display: block
    margin-top: 20px;
    text-align: right
    padding-top: 20px;
    border-top: 1px solid #eee;
    color: #666;
    a
      font-weight: bold

  form#search
    .form-control
      height: 32px;
    button, input
      border: 0;
      margin-top: 1px;
      font-weight: normal
    button
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    input
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;

    .btn.btn-default:hover, a.btn.btn-default:hover
      background: #fff;

// Start body.docs-single
.docs-single
  .breadcrumbs
    border none
    float left
    padding-left 0
    margin-left 0
    box-shadow none
    display none
    +breakpoint("tablet")
      display block

  .navigation-bar form
    width 100%
    float right
    +breakpoint("tablet")
      width 35%

.sidebar-menu
  border 1px solid #EAEEF3
  border-radius 3px
  margin-top 20px
  +breakpoint("tablet")
    margin-top 60px

  [data-accordion] [data-content]
    overflow hidden
    max-height 0

  ul, li
    margin 0
    padding 0

  li
    list-style none
    margin-bottom 15px
    &:last-child
      margin-bottom 0

  a
    font-size 13px

  .nav-title
    cursor pointer
    padding 20px
    i
      float right
      color #A9B3BC
      -webkit-transition transform .3s ease-in-out
      transition transform .3s ease-in-out
    h2
      font-size 13px
      font-weight 700
      text-transform uppercase
      color color_text_gray
      margin 0

  .nav-content
    padding 0 20px
    li:last-child
      margin-bottom 20px

  .accordion
    &.open
      .plus
        &:before
          transform rotate(0deg)
    .accordion
      background-color rgba(#EAEEF3,.25)
      border-top 1px solid rgba(#A9B3BC,.25)
      -webkit-transition background .5s ease-out
      transition background .5s ease-out
      &.open
        background-color white
        .nav-title
          i
            -webkit-transform rotate(90deg) translate(-2px,5px)
            transform rotate(90deg) translate(-2px,5px)

    &:first-child
      +breakpoint("tablet")
        border none

  .principal-title
    padding 20px
    .plus
      background #A9B3BC
      float right
      width 10px
      height 1px
      display block
      margin-top 10px
      &:before
        content ''
        background #A9B3BC
        display block
        width 10px
        height 1px
        transform rotate(270deg)
        transition transform .3s ease-out
    h2
      font-size 13px
      font-weight 700
      text-transform uppercase
      color color_text_gray
      margin 0
    +breakpoint("tablet")
      display none

  .principal-content
    +breakpoint("tablet")
      max-height 100%!important

.try-banner
  margin: 0;
  padding: 60px 20px;

  span
    text-transform: uppercase;
    font-size: 16px;
    line-height: 30px;

  .btn
    position: relative;
    top: 6px;

  &.try-banner-alt
    padding: 40px 20px;

    span
      text-transform: none;


.docs-content
  clearfix()
  color color_text_gray

  a
    color: #0A86B1;

  pre code a,
  pre code a span
    color: white !important;
    opacity: 1 !important;

    &:hover
      color: white !important;

  +breakpoint("tablet")
    padding 30px 10px 10px

  .nav-tabs > li.active > a:focus
    border-top: 0;
    border-left: 0;
    border-right: 0;

  .package
    blockquote
      padding: 20px 0;
      border: 0;

  img
    max-width 100%

  h1, h2:first-child
    font-size 40px
    font-weight 300
    color #333

  h2, h3, h4
    font-size 18px
    font-weight 700
    color #333
    line-height 1.3

  h3
    font-size 16px

  h4, h5, h6
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;

  p
    color color_text_gray

  strong,
  p strong
    color #333

  code
    border-radius: 4px;
    font-size: 90%;
    padding: 3px 8px;
    color: #5c666f;
    background: #eef0f1;

  pre
    margin-bottom 30px

  pre code
    font-size inherit
    border none
    border-radius 0

  blockquote
    font-size 15px
    padding: 30px
    border: 1px solid rgb(231, 233, 237)
    border-radius 3px
    margin: 30px 0

    &.warning
      border: 0;
      background-color: #E71B1B;
      color: white !important;

      *
        color: white !important;

      a
        text-decoration: underline;


    code
      font-size 13px
    p
      margin 0

  .widget-tut
    .snippet-header
      border: 1px solid rgba(0, 0, 0, 0.10);
      padding: 15px;
      border-radius: 3px 3px 0 0;
      border-bottom: 0;
      margin-top: 40px;

    pre
      border-radius: 0;
      margin: 0;

    pre + div
      border: 1px solid rgba(0, 0, 0, 0.10);
      border-top: 0;
      border-radius: 0 0 3px 3px;
      padding: 15px;
      padding-top: 0;

.related-howto
  background-color #fafafa
  border-top 1px solid #EAEEF3
  border-bottom 1px solid #EAEEF3
  padding 20px 0
  +breakpoint("tablet")
    padding 50px 0

  h3
    font-size 13px
    font-weight 700
    text-transform uppercase
    color color_text_gray

  p
    font-size 16px
    color #333
    font-weight 700
    margin-top 35px

  .articles-item
    clearfix()
    +breakpoint("tablet")
      grid(2, 0, ".item")

.feedback-sender
  margin-top: 40px;

  h4
    font-weight: 700;
    color: #333;
    line-height: 1.3;
    font-size: 16px;

  .feedback-choose
    clearfix()
    grid(2, 0, ".choose")

    .choose
      a
        font-size 16px
        color color_text_gray

      i
        font-size 18px
        width 35px
        height 35px
        display inline-block
        border 1px solid rgba(#A9B3BC,.5)
        border-radius 50%
        text-align center
        vertical-align middle
        padding-top 5px
        margin-right 10px

      &:nth-child(1)
        i
          color color_green
      &:nth-child(2)
        i
          color #E0485A

  .feedback-no
    clearfix()
    textarea
      width 100%
      min-height 100px
      resize none

    input
      float right
      margin-top 10px
      outline none
      &:active
        outline none


// Updates page
.rss-label
  margin-left: 10px;

.rss-label
  img
    margin-bottom: 5px;

.label-update
  margin-right: 3px;

.update-header
  margin-bottom: 5px;

.update-space
  margin-bottom: 10px;

@import 'inc/devcenter'
@import 'inc/boxed'
