.related-howto.hide
  .container
    .row
      .col-md-12
        h3 Related Documents

        .articles-item
          .item
            +howTo("Configure an Identity Provider", 'icon-budicon-754', 'Learn more about configuring identity providers.')
          .item
            +howTo("Configure an Identity Provider", 'icon-budicon-754', 'Learn more about configuring identity providers.')
          .item
            +howTo("Configure an Identity Provider", 'icon-budicon-754', 'Learn more about configuring identity providers.')
          .item
            +howTo("Configure an Identity Provider", 'icon-budicon-754', 'Learn more about configuring identity providers.')
