.feedback-sender.js-feedback-sender
  h4 Is this content helpful?
  .feedback-choose
    .choose.choose-yes
      a(href="")
        i.icon-budicon-470
        | Yes
    .choose.choose-no
      a(href="")
        i.icon-budicon-471
        | No
  .feedback-yes(style="display: none")
    p Thank you for your feedback!
  .feedback-no(style="display: none")
    form.send-feedback
      textarea(placeholder="Sorry to hear that!, how can we help you?").form-control
      input(type="submit", value="Submit").submit.btn.btn-primary
