.package#package
  .row
    .col-xs-12.col-md-6.info
      i.icon-budicon-715
      p Download a sample project configured with your Auth0 API Keys.
    .col-xs-12.col-md-6
      a(href="#").btn.btn-sm.btn-success Download Seed Project