//- Meta
meta(name='description', content=(description) ? description: 'Get started using Auth0. Implement authentication for any kind of application in minutes.')

meta(name='author', content='Auth0')
meta(name='keywords', content='auth0, authentication, sso, passwordless, user, profile, applications, identity, providers, nodejs, ruby, scala, angular, go, php, rails')

//- Twitter
meta(name='twitter:card', content='summary_large_image')
meta(name='twitter:creator', content='@auth0')
meta(name='twitter:title', content=(title) ? title : site.title)
meta(name='twitter:description', content=(description) ? description: 'Get started using Auth0. Implement authentication for any kind of application in minutes.')
meta(name='twitter:image', content='https://cdn.auth0.com/docs/media/social-media/tw-card.png')

//- Facebook
meta(property='og:title', content=(title) ? title : site.title)
meta(property='og:site_name', content='Auth0 - Documentation')
meta(property='og:url', content='https://auth0.com/docs/')
meta(name='og:image', content='https://cdn.auth0.com/docs/media/social-media/fb-card.png')
meta(property='og:description', content=(description) ? description: 'Get started using Auth0. Implement authentication for any kind of application in minutes.')
meta(property='og:type', content='website')
