- var nav = navigation['categories'];

nav.sidebar-menu(data-accordion-group)
  .accordion(data-accordion)
    .principal-title(data-control)
      i.plus
      h2 Documentation
    .principal-content(data-content)
      each val, index in nav
        .accordion(data-accordion)
          .nav-title(data-control)
            i.icon-budicon-461
            h2= val.name
          ul.nav-content(data-content)
            - if(val.links) 
              each doc, index in val.links
                li
                  a(href!=doc.href)= doc.name
            - if(val.sections)
              each doc, index in val.sections
                - if(doc.href)
                    li
                      a(href!=doc.href)= doc.name

include feedback-sender
