extends base

block head
  script(src=env.BASE_URL + '/js/base.bundle.js')

block body
  .nosidebar.page-docs.container
    section
      != sections.content

    footer
      span Powered by 
        a(href="//auth0.com") Auth0
