extends base

block head
  script(src=getAssetBundleUrl('base'))

block body
  .nosidebar.page-docs.container
    section
      != sections.content

    footer
      span Powered by 
        a(href="//auth0.com") Auth0
