extends base

block head
  script(src=getAssetBundleUrl('browser'))

block body
  .docs-home
    header.site-header!= webheader
    script.
      if (null != window.widget) {
        window.widget.getClient().getSSOData(false, function (err, data) {
          if (!data || !data.sso) return;
          $('header.site-header .login')
            .attr('href', "#{locals.uiURL}")
            .html('Open Dashboard');
        });
      }
    
    != sections.content

    include ../node_modules/auth0-styleguide/lib/footer/demo.jade
