extends base

block head
  script(src=getAssetBundleUrl('standard'))

block body
  .docs-single
    header.site-header!= webheader
    script.
      if (null != window.widget) {
        window.widget.getClient().getSSOData(false, function (err, data) {
          if (!data || !data.sso) return;
          $('header.site-header .login')
            .attr('href', "#{locals.uiURL}")
            .html('Open Dashboard');
        });
      }

    //- Start content
    .js-doc-template.container
      .row
        .col-sm-3!= locals.sidebar

        .col-sm-9
          section.docs-content
            block content
            
          - if (!locals.user)
            #try-banner
              include ../node_modules/auth0-styleguide/lib/try-banner/demo.jade
          
    include ../node_modules/auth0-styleguide/lib/footer/demo.jade
