extends base

include ./inc/navbar.jade

block head
  script(src=getAssetBundleUrl('standard'))

block body
  .docs-single
    header#header!= webheader

    mixin navbar()

    //- Start content
    .js-doc-template.container
      .row
        .col-md-9.col-centered
          section.docs-content
            block content
            
          - if (!locals.user)
            #try-banner
              include ../node_modules/auth0-styleguide/lib/try-banner/demo.jade
          
    include ../node_modules/auth0-styleguide/lib/footer/demo.jade
