
.api-explorer-row
  margin-bottom: 30px;
  margin-left: 0px;
  margin-right: 0px;
  display: block;
  padding: 8px 15px;

  .verb
    padding: 7px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-right: 6px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    border-radius: 3px;
    min-width: 60px;
    text-align: center;
    display: inline-block;

  .api-description
    font-size: 12px;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 5px;

  &.api-get
    background-color: #f2f8ff;
    .verb
      background-color: #0f6ab4;
      color: white;
    a
      color: #0f6ab4;

  &.api-delete
    background-color: #ffe8e8;
    .verb
      background-color: #A93F3F;
      color: white;
    a
      color: #A93F3F;

  &.api-post
    background-color: #eaffea;
    .verb
      background-color: green;
      color: white;
    a
      color: green;

  &.api-put
    background-color: #FFF4E4;
    .verb
      background-color: #c5862b;
      color: white;
    a
      color: #c5862b;

  &.api-patch
    background-color: #FFF4E4;
    .verb
      background-color: blueviolet;
      color: white;
