.browser
  border 1px solid #ddd
  border-radius 5px
  margin 10px 0 0 0
  iframe
    border-radius 0 0 5px 5px
    border 0
    width 100%
    height 500px
    display block
  .login-widget2
    iframe
      height 650px

.browser-toolbar
  border-bottom 1px solid #ddd
  padding 6px

.browser-icons
  float left
  padding 8px 0 0 0
  margin-left 10px
  i
    margin-right 10px
    color color_blue

.browser-address
  background #ffffff
  border 1px solid #ddd
  border-radius 3px
  margin-left 90px
  padding 4px
  i
    top 3px
    position relative
    opacity .5
    left 2px
  .browser-url
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 85%;
    display: inline-block;
    position: relative;
    top: 2px;
    margin-bottom: -4px
    padding-left 10px

.browser-content
  background #ffffff
  border-radius 0 0 5px 5px
