.community-maintained {
  background-color: transparent;
  border: 0;
  padding: 10px;
  padding-left: 0;
  display: inline-flex;
  align-items: center;
  margin-bottom: 20px;

  .title {
    display: inline-block;
    margin: 0;
    margin-left: 10px;
  }

  .icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('../../public/img/community-maintained-icon-black.svg')
    background-repeat: no-repeat;
    background-position: center;
  }
}