.fixit
  background: $bg-color-gray-light;
  border: 1px solid rgba(black, 0.05);
  font-weight: 500;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 3px;
  margin-bottom: 40px;
  float: right;

  &:hover
    background-color: #fefefe;
