.navigation-bar
  background: $bg-color-gray-light

  +breakpoint("tablet", "max")
    white-space nowrap
    overflow-x auto

  &.is-fixed
    .wrapper
      +breakpoint("desktop")
        position: fixed
        top: 0
        left: 0

  &.is-search-active
    +breakpoint("tablet", "max")
      .navigation-bar-tabs
        display none

      .search-form
        display block

        .navigation-bar-search
          display block

        .search-input
          width 100% !important

  .wrapper
    border-bottom: 1px solid #EAEEF3
    background: white
    width: 100%
    z-index: 800

  .search-form
    padding 0

    +breakpoint("tablet", "max")
      padding-top 8px
      padding-bottom 6px
      display inline-block
      margin-right 10px

    +breakpoint("tablet")
      padding-top 16px
      float right
      width 30%

    .navigation-bar-search

      .form-control

        // Disable input animation on focus
        &:focus
          text-indent 26px

        +breakpoint("tablet", "max")
          background-color transparent
          width 0

      i
        +breakpoint("tablet", "max")
          left 2px
          cursor pointer

  .navigation-bar-tabs
    margin: 0
    font-size: 15px
    display inline-block
    border-bottom: 0px

    +breakpoint("tablet")
      float left
      display block

    a
      color: rgba($color-text, 0.8)
      height: 35px
      line-height 1

      &:hover
        opacity: 0.7

    li
      margin: 0
      padding: 4px 10px
      border-bottom: 2px solid transparent

      +breakpoint("tablet")
        padding-top 15px
        padding-bottom 15px

      &.active
        color: #333
        font-weight: 500
        border-bottom-color: #333

        a
          color: #333
          border-bottom: 0px !important

      & + li
        margin-left 16px

        +breakpoint("tablet")
          margin-left: 50px
