.package
  clearfix();
  background-color: white;
  border: 1px solid rgb(231, 233, 237);
  border-radius: 3px;
  padding: 20px;

  +breakpoint("desktop")
    line-height: 45px;

  .btn
    display: block;

  .button-area
    padding: 0 20px;

    +breakpoint("desktop")
      float: right;
      width: 40%;

      .btn
        display: inline-block;
        width: 100%;

  .info
    position: relative;

    +breakpoint("desktop")
      float: left;
      width: 60%;

  i
    display: block;
    font-size: 20px;
    opacity: 0.5;
    text-align: center;

    +breakpoint("desktop")
      margin-left: 20px;
      vertical-align: middle;
      display inline-block
      line-height 0

  p
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
    max-width: 80%;
    line-height: 2;

    +breakpoint("desktop")
      margin-bottom 0
      text-align: left;
      padding-left: 20px;
      display inline-block
      vertical-align: middle;
