.package2
  clearfix()
  background-color: white
  border: 1px solid rgb(231, 233, 237)
  border-radius: 3px
  padding: 30px

  .package-header
    font-size: 24px
    line-height: 1

  .btn
    display: inline-block
    padding: 5px 20px

    +breakpoint("desktop")
      display: block

  .github-link
    line-height: 42px
    padding-left: 8px

    &:after
      font-size: 0.8em
      content: ' \25B8'

    +breakpoint("desktop")
      padding-left: 0

  .button-area
    margin-top: 18px

    +breakpoint("desktop")
      text-align: center
      float: right
      margin-top: 0

  .info
    position: relative

    +breakpoint("desktop")
      float: left
      width: 60%

  i
    display: block
    font-size: 20px
    opacity: 0.5
    text-align: center

    +breakpoint("desktop")
      margin-left: 20px
      vertical-align: middle
      display inline-block
      line-height 0

  p
    margin: 4px 0 18px

  .package-requirements-header
    font-weight: 500

  ul
    margin-bottom: 0
    padding-left: 18px

    li
      list-style-type: circle
      color: $color-blue-light

      span
        color: $color-text