.package
  clearfix()
  background-color: white
  border: 1px solid rgb(231, 233, 237)
  border-radius: $border-radius-base
  padding: 24px 28px
  position relative

  .package-information
    width calc(100% - 140px)

    +breakpoint("desktop")
      float: left

    .package-header
      font-size: 24px
      margin 0
      margin-bottom 8px
      line-height: 1
      font-weight normal

  .package-buttons

    +breakpoint("desktop")
      text-align: center
      float right

    .btn
      display: inline-block
      padding: 5px 20px

      +breakpoint("desktop")
        display: block

    .github-link
      line-height: 42px
      padding-left: 8px

      &:after
        font-size: 0.8em
        content: ' \25B8'

      +breakpoint("desktop")
        padding-left: 0

  .package-requirements

    .package-requirements-header
      font-weight: 500

    .package-requirements-list
      margin-bottom: 0
      padding 0
      list-style-type none

      li
        &:before
          content ''
          display inline-block
          margin-right 8px
          width 8px
          height 8px
          border-radius 50%
          border 2px solid $color-blue-light
