

.sidebar
  .section-title
    padding-top: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    padding-top: 30px;
    margin-bottom: 10px;
    color: $color-text-light;
    
  .sidebar-item
    list-style-type: none
    font-size: 14px
    padding: 6px 0

    .sidebar-item-icon
      margin-right: 12px
    
    .sidebar-item-name
      white-space: nowrap
    
    a
      &:link, &:visited
        color: color_text_light
      &:hover, &:active
        color: color_text_gray
      &.active
        color: color_text_gray
        font-weight: 500

  .sidebar-item-list
    padding: 0
    
    &:first-child
      padding-top: 0px
    
    &.sidebar-item-list-depth1
      max-height: 0;
      height: auto;
      overflow: hidden;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 15px;
      transition: max-height 0s linear;
      
    &.sidebar-item-list-depth2
      padding-left: 20px;
      padding-top: 0;
      padding-bottom: 0;
      
  .is-current .sidebar-item-list-depth1
    max-height: 600px;   
    transition: max-height 600ms ease-in-out;
    
    
    .sidebar-item-depth1,
    .sidebar-item-depth2
      padding: 3px 0;
      font-size: $font-size-small;
      
      > a
        color: $color-text-light;
        
        &.active
          color: darken($color-blue-light, 5%);
          font-weight: $font-weight-normal;
    
      
  
  .sidebar-item-list-depth0
    padding-left: 0px
    
  .sidebar-item-depth0
    > a
      color: $color-text;
      font-weight: $font-weight-bold;
    
    &.is-current > a,
    &.is-current > a.active
      position: relative;
      color: $color-text;
      
      &::before 
        content: "";
        background: $color-blue-light;
        height: 8px;
        width: 8px;
        border-radius: 100%;
        display: block;
        position: absolute;
        left: -20px;
        top: 0.35em;
        right: auto;
