p This is how it will look on a browser...
.browser
  .browser-toolbar
    .browser-icons
      a(href="javascript:history.back()", target="widget-demo")
        i.icon-budicon-521
      a(href="javascript:history.forward()", target="widget-demo")
        i.icon-budicon-519
      a(href="javascript:document.getElementById('widget-demo').contentWindow.location.reload(true);")
        i.icon-budicon-436
    .browser-address
      i.icon-budicon-285
      span#browser-url.browser-url https://your-domain.com/login
  .browser-content(class="login-widget2")
    iframe#widget-demo(src='')
  
