pre
  background-color rgba(#F1F1F1,.1)
  word-wrap normal
  border 1px solid rgba(#979797,.2)!important
  padding 0!important
  position relative
  code.hljs
    white-space pre
    padding 15px

  code.hljs-line-numbers.hljs-line-numbers
    background-color rgba(#EAF1F3,.25)
    border-right 1px solid rgba(#5C666F,.1)
    text-align right
    color rgba(color_oil,.3)
    -webkit-touch-callout none
    -webkit-user-select none
    -khtml-user-select none
    -moz-user-select none
    -ms-user-select none
    user-select none

.xml .javascript
  opacity 1

.comment
  opacity .5

.xml .value, .string
  color color_green

.title, .javascript .keyword, .number
  color darken(color_orange,20%)

.function .keyword, .literal
  color darken(color_blue_light,30%)

.function .params
  color darken(color_yellow,10%)

.tag
  color color_oil

.xml .attribute
  color darken(color_pink,10%)

