rel_width = 8em;

.circle-logo
  display: inline-block;
  text-align: center;
  font-size: 14px;
  width: rel_width;
  
  &:hover
    text-decoration: none;
    opacity: 0.7;
    
  .logo
    position: relative;
    height: rel_width;
    width: rel_width;
    background: #EAEEF3;
    color: #333;
    border-radius: 50%;
    
    &:before,
    &:after
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50%;
      transform: translate(-50%, -50%);
      font-size: 3em;
    
    &:after
      content: "";
      display: block;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      width: 50%;
      height: 50%;
      
  .title
    color: #333;
    font-weight: bold;
    margin: 10px 0;
    
  &[data-name="how-to"]
    .logo:before
      top: 55%;
    
  &[data-name="angular"]
    .logo
      background: -webkit-linear-gradient(top left, #008BFF 40%, #2C6FAD 140%);
      background: linear-gradient(top left, #008BFF 40%, #2C6FAD 140%);
      
      &:after
        background-image: url('https://cldup.com/YNpure3x4Z.svg');
        
  &[data-name="emberjs"]
    .logo
      background: -webkit-linear-gradient(top left, #F46642 40%, #9C2202 140%);
      background: linear-gradient(top left, #F46642 40%, #9C2202 140%);
      
      &:after
        background-image: url('https://cldup.com/AcYPnXStyC.svg');
        width: 80%;
        height: 80%;
      
    
    