.quickstart-list
  &.container
    padding: 60px 0;
    padding-top: 30px;
    margin: 0 auto;
    
  +breakpoint("desktop")
    min-height: 302px;
    
  .item
    +breakpoint("desktop")
      opacity: 0;
      transition: opacity 600ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    
  .rendered .item
    +breakpoint("desktop")
      opacity: 1;
      
      &:nth-child(2),
      &:nth-child(4),
      &:nth-child(1),
      &:nth-child(5)
        transition-delay: 100ms;
        
.js-tutorial-navigator
  .tutorial-content
    display: none;
    
  &.is-result
    .tutorial-content
      display: block;
      
    .tutorial-wizard
      display: none;
    
  .circle-list
    padding: 0;
    padding-top: 10px;
    padding-bottom: 30px;
    list-style: none;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    
    li 
      display: inline-block;
      vertical-align: top;
      margin: 10px 15px;
      
      +breakpoint("mobile-landscape")
        margin: 10px 30px;
    
  .circle-logo
    font-size: 12px;
    
    +breakpoint("tablet")
      font-size: 14px;
      
    .logo
      background: #aacfd9;
        

.breadcrumbs
  font-size: 12px;
  padding-top: 20px;
  
  a
    color: color_oil;
  
  .chevron
    opacity: 0.5;
    position: relative;
    top: 3px;
    padding: 0 1.3em 0 1em;

.quickstart
  cursor: pointer;
  padding: 15px 10px;
  border-radius: 3px;
  transition: background 100ms ease;
  margin-bottom: 5px;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation-duration: 200ms;
  
  .btn
    letter-spacing: 0.005em;
    
  .title
    display: block;
    
  .cta
    opacity: 0;
    transition: opacity 100ms ease;
    
  .description 
    color: currentColor;
    line-height: normal;
    font-size: 1rem;
    margin-bottom: 10px;
    max-width: 180px;
    
  .sample
    opacity: 0.5;
    font-size: 12px;
    
  &[data-type="spa"]
    .symbol 
      background: #EB5424;
      
  &[data-type="webapp"]
    .symbol 
      background: #EACA2C;
      
  &[data-type="hybrid"]
    .symbol
      background: #44C7F4;
      
  &[data-type="backend"]
    .symbol
      background: #DE60BB;
    
  .symbol
    display: inline-block;
    background: color_green;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
    
    i 
      font-size: 40px;
      top: 30%;
      animation: none;
      color: #363C42;

.quickstart:hover
  +breakpoint("desktop")
    background: white;
    color: color_oil;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
       
      .cta
        opacity: 1;
       
       i 
        color: white;

@media screen and (max-width: 992px)
  .quickstart
    cursor: default;
    opacity: 0.3;
    background: #AACFD9;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    pointer-events: none;
    
    i 
      opacity: 0.5;
    
    .cta
      opacity: 1;
      pointer-events: none;
    
  .center .quickstart
      cursor: pointer;
      background: white;
      color: color_oil;
      pointer-events: auto;
      opacity: 1;
         
        .cta
          opacity: 1;
          pointer-events: auto;
         
         i 
          color: white;
          opacity: 1;
  

    
  
  
  
   
   
   
  