
@import 'vars'
@import 'modules/nav'

.api-explorer
  position: relative;

  .api-sidebar
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: color_gray_1;
    min-height: 100vh;
    +breakpoint("desktop")
      width: $nav-width;
    +breakpoint("desktop-hd")
      width: $nav-width-hd;

  ////////////////////////////////////////////////////////////////////////////////
  // PAGE LAYOUT AND CODE SAMPLE BACKGROUND
  ////////////////////////////////////////////////////////////////////////////////
  .page-wrapper
    position: relative
    z-index: 10
    min-height: 100%
    padding-bottom: 1px

    +breakpoint("desktop")
      margin-left: $nav-width;

    +breakpoint("desktop-hd")
      margin-left: $nav-width-hd;

    // prevent margin overflow
    // The dark box is what gives the code samples their dark background.
    // It sits essentially under the actual content block, which has a
    // transparent background.
    // I know, it's hackish, but it's the simplist way to make the left
    // half of the content always this background color.
    .dark-box
      width: $examples-width
      background-color: $examples-bg
      position: absolute
      right: 0
      top: 0
      bottom: 0

    .lang-selector-container
      z-index 50
      position absolute
      width 50%
      top 0
      right 0

    .lang-selector
      background-color: $lang-select-bg
      width: 100%
      text-transform capitalize
      display flex
      justify-content space-between

      .lang-selector-selected
        display none

      a
        display: block
        color: $lang-select-text
        text-decoration: none
        padding: 10px 0
        line-height: 30px
        outline: 0
        text-align center
        flex-grow 1

        &:active, &:focus
          background-color: $lang-select-pressed-bg
          color: $lang-select-pressed-text

        &.active
          background-color: $lang-select-active-bg
          color: $lang-select-active-text

      &:after
        content: ''
        clear: both
        display: block

      +breakpoint("desktop", "max")
        flex-direction column
        position relative

        &.open a
          display block

        > a
          display none
          text-align left
          padding-left 20px

          &.active
            background-color black

        .lang-selector-selected
          display block
          height 50px
          line-height 50px
          padding 0 20px
          cursor pointer

          > i
            position absolute
            right 20px
            top 4px
            color white

          > .language-label
            padding-right 5px
            color rgba(white, 0.5)

          > .language
            color white

    ////////////////////////////////////////////////////////////////////////////////
    // CONTENT STYLES
    ////////////////////////////////////////////////////////////////////////////////
    // This is all the stuff with the light background in the left half of the page
    .api-content
      // to place content above the dark box
      position: relative
      z-index: 30

      &:after
        content: ''
        display: block
        clear: both

      .api-section
        padding-bottom 80px
        min-height 100vh
        border-bottom 1px solid rgba(black, 0.075)

      h1, h2, h3, h4, h5, h6, p, ul, ol, aside, dl
        margin-right: $examples-width
        padding-left: 30px;
        padding-right: 30px;

      h1
        margin 0
        padding-top 40px
        padding-bottom 20px
        font-size 32px

      h2
        font-size 24px
        margin-top 36px

      h3
        font-weight $font-weight-bold
        font-size 16px
        color $color-oil
        margin-top 36px

      li, p
        color #4d4d4d

      table
        width calc(50% - 60px)
        margin-left 30px
        margin-right $examples-width

      ul, ol

        ul, ol, li, p
          margin 0
          padding 0

        li
          margin 10px 0
          padding-left 20px
          position relative

      ul
        list-style-type none

        li:before
          content "—"
          position absolute
          left 0px
          top 0px
          opacity 0.5

      .anchor-heading
        cursor auto

        > .anchor
          display none


    ////////////////////////////////////////////////////////////////////////////////
    // CODE SAMPLE STYLES
    ////////////////////////////////////////////////////////////////////////////////
    // This is all the stuff that appears in the right half of the page
    .api-content
      pre, blockquote
        background-color: $code-bg
        color: #fff
        padding: 0 $main-padding
        margin: 0
        width: $examples-width
        float: right
        clear: right
        box-sizing: border-box
        font-style normal
        border none

        @extend $right-col

        & > p
          margin: 0

        a
          color: #fff
          text-decoration: none
          border-bottom: dashed 1px #ccc

        code
          background-color: $code-bg !important

      blockquote
        padding 10px $main-padding
        background-color $examples-bg

        & > p
          padding 0 15px
          color white
          font-size 16px

      .code-snippet-title
        font-size 14px
        letter-spacing 1px
        text-transform uppercase
        color white
        padding 20px 28px
        margin 0
        width 50%
        float right
        clear right





    ////////////////////////////////////////////////////////////////////////////////
    // RESPONSIVE DESIGN
    ////////////////////////////////////////////////////////////////////////////////
    // These are the styles for phones and tablets
    // There are also a couple styles disperesed
    @media (max-width: $tablet-width)
      .page-wrapper
        margin-left: 0
    @media (max-width: $phone-width)
      .dark-box
        display: none
      $left-col
        margin-right: 0
      .tocify-wrapper .lang-selector
        display: block
      .page-wrapper .lang-selector
        display: none
      $right-col
        width: auto
        float: none
      $right-col + $left-col
        margin-top: $main-padding
    .highlight .c, .highlight .cm, .highlight .c1, .highlight .cs
      color: #909090
    .highlight, .highlight .w
      background-color: $code-bg
